:root {
    --main-bg-color: #4F709C;
}
nav {
    display: flex;
    background-color: var(--main-bg-color);
    padding: 20px;
}

nav #icon {
    color: white;
    font-size: 24px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 35px;
}

#title h1 {
    font-size: 48px;
}
.card {
    
    width: 500px;
    height: 300px;
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 20px;
}
.card > form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
    
}

.card > form > input {
    height: 22px;
}
form > button {
    height: 22px;
}
form .input {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
}
form .radio {
    display: flex;
    color: white;
    font-size: 20px;
    align-items:center ;
    gap: 2px;

}

.card2 {
     
    width: 500px;
    height: 300px;
    background-color: white;
    border: #4F709C;
    border-style: solid;
    padding: 20px;
    border-radius: 20px;
}
.container section h2 {
    text-align: center;
}

.search_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_section > form {
width: 100%;
display: flex;
gap: 20px;
padding: 20px;
justify-content: center;
}

.search_section > form > label {
font-size: 30px;
}
.search_section > form > input{
width: 70%;
height: 40px;
}
.search_section > form > button{
width: 20%;
height: 40px;
}